@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
}
header {
    margin-bottom: 80px;
}
header .container nav {
    padding-top: 40px;
    justify-content: space-between;
}
header nav .logo {
    color: #0071B7;
    font-size: 32px;
    font-weight: 700;
    opacity: 0.94;
    transition: transform 0.5s;
}
header nav .logo:hover {
    transform: translateY(-10px);
}
header .container nav .options {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
header .container nav .options .notification {
    margin-left: 10px;
}
header .container nav .options .user {
    margin-left: 18px;
}
header .container nav .options .list ul{
    list-style: none;
    color: #0071B7;
    font-size: 18px;
    padding: 0;
}
header .container nav .options .list ul li {
    display: inline-block;
    margin-left: 9px;
    opacity: 0.94;
}
/* section info */
section.info {
    height: 700px;
    background-color: #F4F5F8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin: 0 20px;
}
section.info h1 {
    font-size: 20px;
    color: #0071B7;
    font-weight: 700;
    margin-bottom: 60px;
}
section.info .notes .item {
    margin-bottom: 40px;
    align-items: center;
}
section.info .notes .item .data {
    font-size: 16px;
    color: #475A76;
}
/* form section */
section.form {
    min-height: 700px;
    background-color: #F4F5F8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    margin: 0 20px;
}
section.form .title {
    color: #0071B7;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}
section.form form {
    width: 100%;
}
section.form .sec1,
section.form .sec2 {
    width: 100%;
    padding: 0 40px;
}
section.form .line {
    border-bottom: 1px solid #E4E5E6;
    width: 100%;
    padding: 0;
    margin: 40px 0;
}
section.form .input {
    margin-bottom: 28px;
    position: relative;
}
section.form .input .label {
    font-size: 18px;
    font-weight: 700;
    color: #3B4358;
    margin-bottom: 6px;
}
section.form .input input[type="text"],
section.form .input select {
    width: 100%;
    border: 1px solid #E4E5E6;
    height: 60px;
    font-size: 16px;
    border-radius: 1px;
    color: #707789;
    padding-right: 20px;
   
}
section.form .input select {
    -webkit-appearance: none;
    background: url('./images/down-arrow.png') no-repeat left #FFFFFF;
    background-position-x: 20px;
}
section.form .input.half{
    width: calc(99%/2);
    display: inline-block;
}
section.form .input.half select,
section.form .input.half input {
    padding-left: 20px;
}
section.form .input.half .cube {
    width: calc(95%/3);
    display: inline-block;
}
section.form .input select:required:invalid {
    color: #707789;
    font-size: 16px;
}
section.form .input button{
    position: absolute;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 600;
    left: 25px;
    top: 52px;
}
section.form .sec2 .input .location {
    position: absolute;
    width: 30px;
    left: 26px;
    top: 48px;
}
section.form .sec2 .input .location img {
    width: 100%;
    height: 100%;
}
section.form .input.choice {
    margin-top: 60px;
}
section.form .input.choice .label {
    margin-bottom: 20px;

}
section.form .input.choice .radio{
    margin-bottom: 25px;
}
section.form .input input[type="radio"] {
    display: none;
}

section.form .input input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #3B4358;
    margin-left: 20px;
    cursor: pointer;
}
section.form .input input[type="radio"]:checked + *::before {
    background: radial-gradient(#3B4358 0%, #3B4358 40%, transparent 50%, transparent);
    border-color: #3B4358;
}
section.form .input span {
    font-size: 20px;
    color: #3B4358;
}
section.form .next {
    text-align: center;
    margin-top: 80px;
}
section.form .next button,
.deliver button  {
    background-color: #0071B7;
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
/* deliver section */
.deliver {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 200px;
    text-align: center;
}
.deliver p {
    font-size: 32px;
    color: #3B4358;
    margin-bottom: 60px;
}
/* footer */
footer {
    background: transparent linear-gradient(180deg, #0071B7 0%, #0971B1 55%, #002840 100%) 0% 0% no-repeat padding-box;
    height: 430px;
    color: #fff;
    display: flex;
    align-items: center;
}
footer .logo {
    font-size: 32px;
    font-weight: 700;
}
footer .links {
    display: flex;
    justify-content: space-between;

}
footer .links > div {
   margin: 0 10px;

}
footer .links > div .title {
    font-size: 24px;
    margin-bottom: 14px;
}
footer .links ul {
    list-style: none;
    text-align: right;
    padding: 0;
}
footer .links ul li {
    font-size: 16px;
    color: #F4F5F8;
    line-height: 30px;
    margin-bottom: 12px;
}
footer .links .social {
    margin: auto 0;
}
footer .links .social .media-links  {
    display: flex;
    margin-bottom: 20px;
}
footer .links .social .media-links .icon-container {
    background-image: url('./images/Path\ 33011.png');
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
footer .links .social .media-links .icon-container a {
    text-decoration: none;
}
footer .links .social .media-links .icon-container a i {
    padding: 5px;
    color: #fff;
}
footer .links .social .company > span{
    margin-left: 8px;
}
footer .links .social .company .orange {
    color: #F5AA4B;
}

/* start media queries */
@media(min-width: 320px) and (max-width: 740px) { 
    header .container nav {
        text-align: center;
    }
    header .container nav .options {
        display: block;
    }
    header .container nav .options .notification,
    header .container nav .options .user {
        margin:auto;
        margin-bottom: 5px;
    }
    /* sections */
    section.info,
    section.form {
        margin: 0 auto;
        text-align: center;
    }
    section.form {
        margin-top: 100px;
    }
    section.form .input.half {
        width: 100%;
    }
     /* footer section */
     footer {
        height: auto;
        padding: 20px 0;
    }
    footer .row {
        text-align: center;
    }
    footer .links  {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    footer .links > div {
        margin: 40px auto;
    }
    footer .links > div .title {
        font-size: 18px;
        margin-bottom: 5px;
    }
     
    footer .links ul {
        text-align: center;
    }
    footer .links ul li {
        display: inline-block;
        margin: 0 5px;
        font-size: 14px;
    }
    footer .links .social .media-links {
        justify-content: center;
    }
    footer .logo {
        font-size: 28px;
    }
    section.form .input.choice {
        text-align: right;
    }
}
@media(min-width: 740px) and (max-width:991px){ 
    section.form {
        margin-top: 100px;
    }
    section.form .input.choice {
        text-align: right;
    }
    header .container nav {
        text-align: center;
        display: block;
        text-align: center;
        padding-top: 20px;
    }
    header .container nav > div {
        width: 100%;

    }
    header .container nav .options {
        display: block;
    }
    header .container nav .options .notification,
    header .container nav .options .user {
        margin:auto;
        margin-bottom: 5px;
    }
    footer .links > div {
        width: calc(100%/5);
    }
}