@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
}
header {
    background-image: url('./images/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    width: 100%;
    font-family: 'Cairo', sans-serif;
    position: relative;
}
header .container nav {
    padding-top: 40px;
    justify-content: space-between;
}
header nav .logo {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    opacity: 0.94;
}
header .container nav .options {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
header .container nav .options .notification {
    margin-left: 10px;
}
header .container nav .options .user {
    margin-left: 18px;
}
header .container nav .options .list ul{
    list-style: none;
    color: #fff;
    font-size: 18px;
    padding: 0;
}
header .container nav .options .list ul li {
    display: inline-block;
    margin-left: 9px;
}
/* engine section */
header .container .engine {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}
header .container .engine  h1{
    font-size: 40px;
    color: #fff;
}
header .container .engine p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}
header .container .engine .search-box {
    width: 80%;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
}
header .container .engine .search-box ul li button,
header .container .engine .search-box ul {
    border: none;
}
header .container .engine .search-box ul {
    padding: 0;
}
header .container .engine .search-box ul li {
    width: calc(100%/3);
    height: 70px;
    position: relative;
}
header .container .engine .search-box ul li button {
    font-size: 20px;
    margin: auto;
    width: 100%;
    background-color: #F4F5F8;
    color: #0071B7;
    font-weight: 700;
    padding: 12px 0;
    border-radius: 0;
    height: 100%;
}
header .container .engine .search-box ul li button.active {
    background-color: #F5AA4B;
    color: #FFFFFF;
    position: relative;
    height: 78px;
    top: -8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
header .container .engine .search-box .tab-content .tab-pane.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 200px;
}
header .container .engine .search-box .tab-content .tab-pane .input {
    display: block;
    text-align: right;
}
header .container .engine .search-box .tab-content .tab-pane .input .label {
    font-size: 18px;
    color: #0071B7;
}
header .container .engine .search-box .tab-content .tab-pane .input input,
header .container .engine .search-box .tab-content .tab-pane .input select {
    width: 230px;
    height: 35px;
    border: 1px solid #E4E5E6;
}
header .container .engine .search-box .tab-content .tab-pane .input input::placeholder,
header .container .engine .search-box .tab-content .tab-pane .input select:required:invalid {
    color: #707789;
    font-size: 14px;
}
header .container .engine .search-box .tab-content .tab-pane .search {
    background-image: url('./images/search-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 35px;
    border: none;
    margin-top: 27px;
}
/* page content */
.appointment {
    margin-top: 150px;
}
.appointment h2 {
    font-size: 32px;
    color: #F5AA4B;
}
.appointment .more {
    display: flex;
    justify-content: space-between;
}
.appointment .more p{
    color: #0071B7;
    font-size: 24px;
}
.appointment .more button {
    color: #374053;
    border: 1px solid #F5AA4B;
    padding: 0px 25px;
    font-size: 13px;
    background-color: #fff;
    border-radius: 8px;
    font-weight: 700;
    height: 36px;
}
/* .container-scroll {
    overflow-x: auto;
}
.container-scroll > .row {
    width: 133.33333333%;
}
.container-scroll > .row:nth-of-type(1){
    width: 133.33333333%;
} */
.appointment .carousel {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
    overflow-y: clip;
}
.appointment .carousel .item {
    margin: 0 10px;
}
.appointment .carousel .item .image {
    width: 220px;
    height: auto;
    position: relative;
}
.appointment .carousel .item .image img {
    width: 100%;
    height: 100%;
    display: block;
}
.appointment .carousel .item .title {
    color: #0071B7;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}
.appointment .carousel .item .info {
    color: #3B4358;
    font-size: 18px;
}
.appointment .carousel .item .image .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #3B4358;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.appointment .carousel .item .image .image-overlay:hover{
    opacity: 1;
}
.appointment .carousel .item .image .image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.appointment .carousel .item .image .image-overlay:hover >* {
    transform: translateY(0px);
}
.appointment .carousel .item .image .image-overlay button {
    background-color: #fff;
    border: none;
    color: #F5AA4B;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.appointment .carousel .item .image .image-overlay button .image-overlay-container {
    margin-left: 10px;
}
/* doctors section */
.doctors {
    margin-top: 150px;
    color: #fff;
}
.doctors .item {
   
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 235px;
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.doctors .item:nth-of-type(1){
    background-image: url('./images/doctor1.png');

}
.doctors .item:nth-of-type(2){ 
    background-image: url('./images/doctor2.png');
}
.doctors .item h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}
.doctors .item p {
    font-size: 22px;
    width: 70%;
}
.doctors button {
    border: none;
    border-radius: 8px;
    background-color: #F5AA4B;
    color: #fff;
    width: 160px;
    font-weight: 700;
    padding: 6px 0;
}
/* clinics section */
.appointment .clinic-item {
    display: flex;
    align-items: center;
    background-color: #F4F5F8;
    width: calc(96%/4);
    margin: 0 5px;
    border-radius: 8px;
    padding: 15px 20px;
}
.appointment .clinic-item .image-container {
    margin-left: 30px;
    max-width: 40px;
    max-height: 60px;
   
}
.appointment .clinic-item .image-container img {
    width: 100%;
    height: 100%;
}
.appointment .clinic-item .data .title {
    color: #3B4358;
    font-size: 24px;
}
.appointment .clinic-item .data .info {
    color: #F5AA4B;
    font-size: 16px;
}
/* community section */
.community {
    margin-top: 150px;
    text-align: center;
}
.community h1 {
    color: #F5AA4B;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 100px;
}
.community .services {
    display: flex;
}
.community .services .item .image {
    width: 50px;
    height: 50px;
    background-color: #F4F5F8;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 18px;
}
.community .services .item .data .title {
    color: #0071B7;
    font-size: 24px;
    font-weight: 700;
}
.community .services .item .data .info {
    color: #3B4358;
    font-size: 18px;
}
/* apps section */
.apps {
    margin-top: 180px;
    background-color: #F4F5F8;
    height: 500px;
    position: relative;
}
.apps .image {
    position: absolute;
}
.apps .image.app-image2 {
    bottom: 100px;
    left: 150px;
}
.apps .image.app-image1 {
    left: 305px;
    bottom: 125px;
}
.apps .data {
    position: absolute;
    width: 40%;
    top: 22%;
    bottom: 0;
    right: 100px;
}
.apps .data h2 {
    color: #0071B7;
    font-size: 32px;
    font-weight: 700;
}
.apps .data p {
    color: #3B4358;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 400;
}
.apps .data .links a{
    text-decoration: none;
    width: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
    color: #0071B7;
    font-weight: 700;
}
.apps .data .links a img {
    margin-right: 8px;
}
.apps .data .links a:nth-of-type(1) {
    margin-left: 10px;
}
/* footer */
footer {
    margin-top: 150px;
    background: transparent linear-gradient(180deg, #0071B7 0%, #0971B1 55%, #002840 100%) 0% 0% no-repeat padding-box;
    height: 430px;
    color: #fff;
    display: flex;
    align-items: center;
}
footer .logo {
    font-size: 32px;
    font-weight: 700;
}
footer .links {
    display: flex;
    justify-content: space-between;

}
footer .links > div .title {
    font-size: 24px;
    margin-bottom: 14px;
}
footer .links ul {
    list-style: none;
    text-align: right;
    padding: 0;
}
footer .links ul li {
    font-size: 16px;
    color: #F4F5F8;
    line-height: 30px;
    margin-bottom: 12px;
}
footer .links .social {
    margin: auto 0;
}
footer .links .social .media-links  {
    display: flex;
    margin-bottom: 20px;
}
footer .links .social .media-links .icon-container {
    background-image: url('./images/Path\ 33011.png');
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
footer .links .social .media-links .icon-container a {
    text-decoration: none;
}
footer .links .social .media-links .icon-container a i {
    padding: 5px;
    color: #fff;
}
footer .links .social .company > span{
    margin-left: 8px;
}
footer .links .social .company .orange {
    color: #F5AA4B;
}
/* start media queries */
@media(min-width: 320px) and (max-width: 640px) {
    /* header section */
    header{
        height: 870px;
    }
    header .container .engine {
        bottom: 35px;
    }
    header .container .engine .search-box .tab-content .tab-pane.active  {
        display: block;
        height: auto;
    }
    header .container nav {
        text-align: center;
    }
    header .container nav .options {
        display: block;
    }
    header .container nav .options .notification,
    header .container nav .options .user {
        margin:auto;
        margin-bottom: 5px;
    }
    header .container .engine h1 {
        font-size: 35px;
    }
    header .container .engine p {
        font-size: 16px;
    }
    header .container nav .options .list ul {
        font-size: 14px;
    }
    header .container .engine .search-box ul li button {
        font-size: 16px;
        height: 65px;
        padding: 5px;
        
    }
    header .container .engine .search-box ul li button.active {
        top: -12px;
    }
    header .container .engine .search-box .tab-content .tab-pane .input .label {
        font-size: 16px;
    }
    header .container .engine .search-box .tab-content .tab-pane .input {
        margin-bottom: 10px;
    }
    header .container .engine .search-box .tab-content .tab-pane .input input, 
    header .container .engine .search-box .tab-content .tab-pane .input select{
        width: 100%;
    }
    header .container .engine .search-box .tab-content .tab-pane .search {
        margin: 10px auto;
    }
    /* appointment section */
    .appointment {
        margin-top: 100px;
        text-align: center;
    }
    .appointment h2 {
        font-size: 28px;
    }
    .appointment .more {
        display: block;
        margin-bottom: 10px;
    }
    .appointment .more p{
        font-size: 18px;
    }
    .appointment .carousel .item .image {
        width: 180px;
    }
    .appointment .carousel .item .title {
        font-size: 16px;
    }
    .appointment .carousel .item .info {
        font-size: 14px;
    }
    /* footer section */
    footer {
        height: auto;
    }
    footer .row {
        text-align: center;
    }
    footer .links  {
        display: block;
    }
}
/* end media queries */
